body, html {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.quick-calc-container {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    /* border: 1px solid black;
    border-radius: 10px; */
    padding: 15px;
}

.quick-calc-container h1 {
    font-size: 1.5rem;
}

.quick-calc-container input {
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
}

.quick-calc-container .text {
    width: 150px;
    margin: 5px 0;
}

.quick-calc-container .quick-calc {
    margin-top: 20px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
}

.load-file-container {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    background-color: white;
    /* border: 1px solid black;
    border-radius: 10px;*/
    padding: 10px 20px;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
}

.btn {
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
}

.load-file-container input {
    margin: 15px 0px;
}

.load-file-container input[type="button"] {
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
}

.input-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;    
    padding: 20px;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    max-height: 400px;
    overflow: auto;
}

.input-container input {
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
}

.input-container .text {
    width: 200px;
    margin: 5px 0;
}

.input-container .continue {
    margin-top: 20px;
    cursor: pointer;
}

.input-wrapper input:nth-child(2n + 1) {
    margin-top: 15px;
}

.all-combinations-container {
    position: absolute;
    left: 30%;
    top: 10%;
    display: flex;
}

.combination-container {
    margin: 20px 0;
    border-radius: 20px;
    padding: 10px;
    color: #1f1f1f;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    min-width: 200px;
}

.combination-container .title-container {
    width: 108% !important;
    padding: 0 5px;
}

.combination-container .title-container h1 {
    font-size: 1.5rem;
    margin: 15px 5px;
}

.combination-container .title-container p {
    margin: 5px;
}

.combination-container h2 {
    font-size: 1.1rem;
}
